*{
    margin: 0;
    padding: 0;
}
body
{
    text-align:left;
    padding-left: 10%;
    background-image:url('https://img.freepik.com/free-photo/pastel-blue-vignette-concrete-textured-background_53876-102637.jpg?w=1060&t=st=1685109733~exp=1685110333~hmac=5224c8411cc639be2e6b5bfa3dc6f6b04c8bcd1484218ff7e61492801510c75d');
    background-repeat:no-repeat;
    /* normally picture ko size anusar web page ma pic repeat bhayera aauxa 2 3 4 5 ota tara yo garda aauta matra aauxa */
    background-attachment:fixed;
    /* yesle fixed huda chai background chai move hudainaa */
    background-size:100% 100%;
    /* background size ma cover garda chai aafai adjust hunxaa but 100% 100% garda chai purai picture nai background ma aauxa */
}
.form-box{
    width: 500px;
    background: rgba(122, 141, 180, 0.3);
    margin: 12% auto;
    padding: 50px 0;
    color: #0a0a0a;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}
h3{
    align: left;
    margin-bottom: 40px;
    
}
.input-box{
    margin: 31px auto ;
    width: 80%;
    border-bottom: 1px solid  #141313;
    padding-top: 10px;
    padding-bottom: 5px;

}
.input-box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: black;
}
.enter-btn{
    margin: 40px auto 20px;
    width: 40%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 2px solid black;
    cursor: pointer;
    background: transparent;
    color: black;
    font-size: 16px;
}