.input-box{
    margin: 31px auto ;
    width: 80%;
    border-bottom: 1px solid  #141313;
    padding-top: 10px;
    padding-bottom: 5px;

}
.input-box input{
    width: 90%;
    border: none;
    outline: none;
    background: transparent;
    color: black;
}
