@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* ===== Colors ===== */
    --primary-color: #cacbce;
    --panel-color: rgb(255, 255, 255);
    --pan-color: rgb(255, 255, 255,0.3);
    --nel-color:#e0d7d7b0;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #e9b2d9;
    --box2-color: #FFE6AC;
    --box3-color: #afbbed;
    --box4-color: #f0c0c0;
    --title-icon-color: #fff;
}
header {
    height: 70px;
    width: 100%;
    padding: 15px 30px;
    background-color: #ffffff;
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display:block;
    justify-content: space-between;
    align-items: center;
    }
  .logo {
    font-size: 30px;
    font-weight: 600;
    color: rgb(16, 47, 184);
    }
    
    .icn {
    height: 45px;
    }
    .menuicn {
    cursor: pointer;
    }
    
    .message,
    .logosec {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .logosec {
      gap: 60px;
      }
  .logout
  {
    margin-left: auto;
  }
  .logosec .logout .log
  {
    align-content: center;
    padding-left: 10px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(7, 57, 118);
  }
  i
{
    
    font-size:30px;
}
body
{
    margin-left:0px;
    margin-bottom:0px;
    background-image:url('../images/default_background.webp');
    background-repeat:no-repeat;
    /* normally picture ko size anusar web page ma pic repeat bhayera aauxa 2 3 4 5 ota tara yo garda aauta matra aauxa */
    background-attachment:fixed;
    /* yesle fixed huda chai background chai move hudainaa */
    background-size:100% 100%;
    /* background size ma cover garda chai aafai adjust hunxaa but 100% 100% garda chai purai picture nai background ma aauxa */
}
h1
{
    font-size:60px;
}
.DAT{
    text-align:center;
    margin-top: 35%;
    
}
.DAT1
{
    text-align:center;
    margin-top: 25%;
}
.DAT2
{
    text-align:center;
    margin-top: 25%;
}
.dashboard{
    position:absolute;
    align-items: center;
    margin-top: 0px;
    height: 100%;
    width:100%;
    padding: 0px;
    
}
.overview
{
    width:100%;
    margin-top: 15%;
    margin-right: 0px;
    padding-left:70px;
}
nav.close ~ .dashboard{
    left: 50px;
    width:100%;
}

.float
{
    float:50%;
    min-height: 100%;
}
.float1
{
    float:left;
    width:50%;
    /*display:flex;*/
   /* flex-wrap: wrap;*/
}

.dashboard .dash-content{
    padding-top: 55px;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   /*padding-left: 20px;
    padding-right: 20px;*/
    align-items: left;
    width:calc(100%/1.5);
    justify-content: space-around;
   
}
.boxes .link
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   /*padding-left: 20px;
    padding-right: 20px;*/
    align-items: left;
  text-decoration:none;
  width:calc(100%);
}
.dash-content .boxes .box{
    display: flex;
    flex-wrap: nowrap ;
    flex-direction: column;
    align-items:center;
    border-radius: 12px;
    width: calc(100% + 100px);
    padding: 15px 50px 15px 50px;
    background-color: var(--box1-color);
    transition: var(--tran-05);
    margin: 15px 15px 15px 15px;
}
.boxes .box i{
    font-size: 35px;
    color: var(--text-color);
    
}

.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color);
    text-decoration:none;

}
/*yo box ko lagi ho*/
.boxes .box .number{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box.box1{
    background-color: var(--box1-color);
}
.boxes .box.box2{
    background-color: var(--box2-color);
}
.boxes .box.box3{
    background-color: var(--box3-color);
}
.boxes .box.box4{
    background-color: var(--box4-color);
}


h2, h3 {
    margin-bottom: 10px;
    color: #333;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 32px;
  }
 

