*{
    margin: 0;
    padding: 0px 0px 15px 0px;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}
body
{
    
    padding-left: 10%;
    font-size: large;
    background-image:url('../images/default_background.webp');
    background-repeat:no-repeat;
    /* normally picture ko size anusar web page ma pic repeat bhayera aauxa 2 3 4 5 ota tara yo garda aauta matra aauxa */
    background-attachment:fixed;
    /* yesle fixed huda chai background chai move hudainaa */
    background-size:100% 100%;
    /* background size ma cover garda chai aafai adjust hunxaa but 100% 100% garda chai purai picture nai background ma aauxa */
}
header{
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height:30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  background-color: #fafaff;
}
.logo {
  font-size: 30px;
  font-weight: 600;
  color: rgb(16, 47, 184);
  }
  .icn {
  height: 45px;
  }
  .menuicn {
  cursor: pointer;
  }

  .logosec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.container
{
  margin-top:10px;
}
.tbl {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  /* margin-left: 20px; */
}

.tbl td, .tbl th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tbl tr:nth-child(even){background-color: #f2f2f2;}

.tbl tr:hover {background-color: #ddd;}

.tbl th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #38bc8c;
  color: white;
}
h3
{
    align-items:center;
    margin-top:40px;
    margin-bottom: 10px;
}
table 
{
    align-items: center;
    border: 1px solid #796e6e;
    border-collapse:initial;
    width: 90%;
    padding:15px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.25);;
}
.update
{
  width: 90%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.butn
{
  
  margin-right: 5px;
  text-align: center;
  background-color: #38bc8c;
  border-radius: 3px;
  padding: 7px;
}
.butn:hover
{
  background-color: rgb(176, 219, 20);
}
.link
{
  font-size: 16px;
  margin:0px;
  text-align: center;
  cursor: pointer;
  color:rgb(250, 245, 245);
  text-decoration: none;
}
.link:hover
{
  color:rgb(100, 16, 13);
}
.pid,.did,.mid,.fid
{
    background-color: aliceblue;
}
  th{
    text-align: left;
    padding: 8px 8px 8px 8px;
    border-bottom: 1px solid #8f8c8c;
  }
  td {
    text-align: left;
    padding: 8px 8px 8px 20px;
    border-bottom: 1px solid #8f8c8c;
  }
  
  tr:nth-child(even){background-color: #44dda57e;}
  
