@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  /* display: flex; */
  align-items:center;
  justify-content:center;
  text-align: left;
  background-image:url('../images/default_background.webp');
  background-repeat:no-repeat;
  /* normally picture ko size anusar web page ma pic repeat bhayera aauxa 2 3 4 5 ota tara yo garda aauta matra aauxa */
  background-attachment:fixed;
  /* yesle fixed huda chai background chai move hudainaa */
  background-size:100% 100%;
  padding-bottom: 30px;
}
header {
  height: 70px;
  width: 100%;
  padding: 15px 30px;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
  display:block;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 30px;
  font-weight: 600;
  color: rgb(16, 47, 184);
  }
  
  .icn {
  height: 45px;
  }
  .menuicn {
  cursor: pointer;
  }
  
  .message,
  .logosec {
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .logosec {
    gap: 60px;
    }
.logout
{
  margin-left: auto;
}
.logosec .logout .log
{
  align-content: center;
  padding-left: 10px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(7, 57, 118);
}
i
{
  
  font-size:30px;
}
h1{
 text-align: center;
 color:rgb(29, 36, 112);
}

.container {
  width:100%;
  margin-top: 85px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
  width:60%;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
/*.container .form .input{
  width: 100%;
  margin-top: 20px;
  height: 100px;
  padding: 50px;
  
}*/
.form :where(.input-box textarea) {
  /* position: relative; */
  
  height: 100px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px 20px 20px 20px;
  text-wrap:wrap;
}
.form :where(.input-box input, .select-box, .input-option select) {
  /* position: relative; */
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}

textarea
{
  resize: none;
  
}
.input-box textarea:focus,input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(95, 185, 100);
}
.form button:hover {
  background: rgb(95, 185, 100);
}
/*Responsive*/
@media screen and (max-width:700px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}
h3
{
  margin-top:30px;
}