@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin-top: 0px;
    margin-left: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background-image:url('../images/default_background.webp');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100% 100%;
    margin-right:0px;
}
header 
{
  height: 70px;
  width: 100%;
  padding: 15px 30px;
  background-color: #ffffff;
  position: fixed;
  z-index: 100;
  box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
  display:block;
  justify-content: space-between;
  align-items: center;
}
:root{
  /* ===== Colors ===== */
  --primary-color: #cacbce;
  --panel-color: rgb(255, 255, 255);
  --pan-color: rgb(255, 255, 255,0.3);
  --nel-color:#e0d7d7b0;
  --text-color: #000;
  --black-light-color: #707070;
  --border-color: #e6e5e5;
  --toggle-color: #DDD;
  --box1-color: #e9b2d9;
  --box2-color: #FFE6AC;
  --box3-color: #afbbed;
  --box4-color: #f0c0c0;
  --title-icon-color: #fff;
}
.top{
  position: fixed;
  margin-top: 65px;
  left: 400px;
  display: flex;
  width: calc(100% - 500px);
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--pan-color); */
 /* z-index: 10;*/
}
.top .sidebar-toggle{
  font-size: 26px;
  color: var(--text-color);
  cursor: pointer;
}
.top .search-box{
  position: fixed;
  height: 30px;
  max-width: 600px;
  width: 100%;
  margin: 30px 30px;
}
.top .search-box input{
  position: absolute;
  border: 1px solid var(--border-color);
  background-color: var(--nel-color);
  padding: 0 25px 0 50px;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  color: var(--text-color);
  font-size: 15px;
  font-weight: 400;
  outline: none;
}
.top .search-box i{
  position: absolute;
  left: 15px;
  font-size: 22px;
  z-index: 10;
  top: 50%;
  transform: translateY(-50%);
  color: var(--black-light-color);
}
.top img{
  width: 40px;
  border-radius: 50%;
}
.logo {
  font-size: 30px;
  font-weight: 600;
  color: rgb(16, 47, 184);
  margin-left:60px;
  }
  
  .icn {
  height: 45px;
  }
  .menuicn {
  cursor: pointer;
  }
  
  .message,
  .logosec {
  display: flex;
  align-items: stretch;
  justify-content: center;
  }
.logout
{
  margin-left: auto;
}
.logosec .logout .log
{
  align-content: center;
  padding-left: 10px;
  font-size: 25px;
  font-weight: 600;
  color: rgb(7, 57, 118);
}
i
{
  
  font-size:30px;
}

/* .main {
    height: calc(100vh);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 100px;
    
} */

/* .view
{
    margin-left: 10px;
} */
.tbl {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 85px;
}
.tabletop
{
  position: fixed;
}
.tbl td, .tbl th {
  border: 1px solid #ddd;
  padding: 8px;
}

.tbl tr:nth-child(even){background-color: #f2f2f2;}

.tbl tr:hover {background-color: #ddd;}

.tbl th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #38bc8c;
  color: white;
}
.button1
{
  margin-right: 5px;
  text-align: center;
  background-color: rgb(115, 142, 216);
  border-radius: 3px;
  padding: 3px;
}
.button2
{
  margin-right: 5px;
  text-align: center;
  background-color: rgb(125, 214, 108);
  border-radius: 5px;
  padding: 3px;
}
.button3
{
  margin-right: 5px;
  text-align: center;
  background-color:rgb(198, 8, 8) ;
  border-radius: 5px;
  padding: 3px;
}
.link1, .link2, .link3
{
  margin:0px;
  text-align: center;
  cursor: pointer;
  color:rgb(250, 245, 245);
  text-decoration: none;
}
.button1:hover,.button2:hover,.button3:hover
{
  background-color: #38bc8c;
}

.link1:hover, .link2:hover, .link3:hover
{
  color:rgb(100, 16, 13);
}
.buttonx
{
  margin-left: 20px;
  text-align: center;
  background-color: rgb(18, 52, 174);
  border-radius: 16px;
  padding: 5px;
  color:rgb(250, 245, 245);
}
.buttony
{
  margin-left: 20px;
  text-align: center;
  background-color: rgb(44, 137, 61);
  border-radius: 16px;
  padding: 5px;
  color:rgb(250, 245, 245);
}