* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  /* display: flex; */
  align-items:normal;
  justify-content: left;
  padding: 20px;
  text-align: left;
  padding-left: 10%;
  background-image:url('../images/default_background.webp');
  background-repeat:no-repeat;
  /* normally picture ko size anusar web page ma pic repeat bhayera aauxa 2 3 4 5 ota tara yo garda aauta matra aauxa */
  background-attachment:fixed;
  /* yesle fixed huda chai background chai move hudainaa */
  background-size:100% 100%;
}
table
{    
    
    border-collapse:initial;
    width: 98%;
    padding:15px 15px 0px 15px;
}
th
{
    text-align: left;
    padding: 8px 8px 8px 8px;
    border-bottom: 1px solid #8f8c8c;
    ;background-color: #dddddd;

}
td {
    text-align: left;
    padding: 8px 8px 8px 20px;
    border-bottom: 1px solid #8f8c8c;
    background-color: #f2f2f2
}
tr:nth-child(even){background-color: #96f08a;}

header{
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  height:20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 40px;
  background-color: #fafaff;
  }
  .logo {
  font-size: 30px;
  font-weight: 600;
  color: rgb(16, 47, 184);
  }
  .icn {
  height: 45px;
  }
  .menuicn {
  cursor: pointer;
  }
  .logosec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}
.container {
  margin-top: 20px;
}
.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 75%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
  margin-bottom:50px;
}
.form :where(.input-box textarea) {
  /* position: relative; */
  
  height: 90px;
  width: 90%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px 20px 20px 20px;
  text-wrap:wrap;
}
.form :where(.input-box input) 
{
  /* position: relative; */
  height: 30px;
  width: 30%;
  outline: none;
  font-size: 1rem;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px 20px 20px 20px;
  text-wrap:wrap;
}
textarea
{
  resize: none;
  
}
.input-box textarea:focus,input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form button {
  height: 45px;
  width: 50%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
  align-items: center;
}
.form button:hover {
  background: rgb(88, 56, 250);
}
/*Responsive*/
@media screen and (max-width:500px) {
  .form .column {
    flex-wrap: wrap;
  }
  .form :where(.gender-option, .gender) {
    row-gap: 15px;
  }
}